img.with-shadow, figure.with-shadow {
    @extend .shadow;
    @extend .p-3;
    @extend .mb-4;
}

figure {
    @extend .figure;
    figcaption {
        @extend .pt-2;
        @extend .figure-caption;

        p:last-child {
            margin-bottom: 0;
        }
    }
    &:not(:first-child) {
        @extend .mt-3;
    }
    &.float-left {
        float: left;
        margin-right: $spacer;
        margin-bottom: $spacer;
        max-width: 50%;
    }
    &.float-right {
        float: right;
        margin-left: $spacer;
        margin-bottom: $spacer;
        max-width: 50%;
    }
    &.align-center {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 575.98px) {
    figure.float-left,
    figure.float-right {
        float: none;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
